#nav {
    background-color: black;
}

.navbar-toggler {
    background-color: white;
}

#container {
    width: 100%;
    overflow: hidden;
}

.img-container {

    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes banner-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

.login label,
.signup label {
    display: block;
}

.signup {
    justify-content: center;
}

#banner-img {
    height: 117px; width: 125px;
}

textarea {
    width: 100%;
}

#btn-comment {
    margin-top: 1rem;
}

.btn-like {
    border: none;
    background-color: white;
}

.fa-heart-circle-check {
    color: red;
}

a {
    color: white;
}

.delete-anchor:hover {
    color: white;
}

.close-btn:hover {
    background-color: grey;
    color: white;
}

ul {
    list-style-type: none;
}

#category-card {
    height: 3rem;
}

#add-comment {
    height: 20rem;
}

#comments {
    border-bottom: 1px solid grey;
}

.comment-card {
    max-height: 50rem;
    margin-left: -12px;
    margin-right: -12px;
}

#comments-header {
    color: white;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 0.3rem;
}

#recent-posts-card {
    max-width: 100%;
}

#recent-posts-header {
    background-color: black;
}
footer {
    background-color: black;
}

#footer-tags::before {
    text-decoration: none;
}

.footer-anchor:hover {
    color: green;
}