#nav {
    background-color: black;
}

.navbar-toggler {
    background-color: white;
}

.login label,
.signup label {
    display: block;
}

.signup {
    justify-content: center;
}

textarea {
    width: 100%;
}

footer {
    background-color: black;
}

#btn-comment {
    margin-top: 1rem;
}

a {
    color: white;
  }

  #category-card {
    height: 3rem;
  }