#nav {
    background-color: black;
}

.navbar-toggler {
    background-color: white;
}

.login label,
.signup label {
    display: block;
}

.signup {
    justify-content: center;
}

textarea {
    width: 100%;
}

footer {
    background-color: black;
}

#btn-comment {
    margin-top: 1rem;
}

a {
    color: white;
  }

  #category-card {
    height: 3rem;
  }

#add-comment {
    height: 20rem;
}

ul {
    list-style-type: none;
}

#comments {
    border-bottom: 1px solid grey;
}

#comments-header {
    color: white;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 0.3rem;
}